*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  font-family: 'PT Sans Narrow', sans-serif;
}

.topleft{
  display: flex;
  width: 19.1vw;
  height: 5vw;
  background-color: #7dbd96;
  padding: 1.5vh;
}

.logoimage{
  cursor: pointer;
}

.notesheader{
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #B6D7B9;
  border-bottom: solid 0.5vh #749b6f;
  position: fixed;
  margin-top: -7vh;
}

.moveright{
  animation: moveright 2s forwards;
}

.moveleft{
  animation: moveleft 2s forwards;
}

@keyframes moveright {
  100% {
    transform: translateX(14vw);
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(14vw);
  }
  100% {
    transform: translateX(-0vw);
  }
}

.sidebar{
  height: calc(97vh - 8.5vw);
  width: 20vw;
  border-right: solid 0.5vw #4C6663;
  border-top: solid 0.5vw #749b6f;
  background-color: #9ABD97;
  overflow-y: auto;
  padding-top: 7vh;
}

.notediv{
  display: flex;
  line-height: 10vh;
  font-size: 1.25rem;
  width: 100%;
  height: 15%;
  align-items: center;
  border-bottom: solid 0.5vh #749b6f;
  cursor: pointer;
}

.notediv{
  display: flex;
  line-height: 10vh;
  font-size: 1.25rem;
  width: 100%;
  height: 15%;
  align-items: center;
  border-bottom: solid 0.5vh #749b6f;
  cursor: pointer;
}

.addnote{
  width: 2vw;
  height: 2vw;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: -8vw;
  margin-left: 5vw;
}

.topbar{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 0px;
  left: calc(19.1vw + 3vh);
  background-color: green;
  height: calc(5vw + 3vh);
  width: 77.5vw;
  border-left: solid 0.5vw #4C6663;
  border-bottom: solid 0.5vw #749b6f ;
  background-color: #9ABD97;
  padding: 2vh;
  overflow-x: hidden;
}

.noteselect{
  display: flex;
  justify-content: center;
  width: 8vw;
  min-width: 6vw;
  height: 50%;
  background-color: #b6d7b9;
  border-top: 1.5vh solid #749b6f;
  border-left: 1px solid #749b6f;
  border-right: 1px solid #749b6f;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 9.1vh;
  cursor: pointer;
}

.highernoteselect{
  display: flex;
  justify-content: center;
  width: 8vw;
  min-width: 6vw;
  height: 70%;
  background-color: #b6d7b9;
  border-top: 1.5vh solid #749b6f;
  border-left: 1px solid #749b6f;
  border-right: 1px solid #749b6f;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-top: 5vh;
  cursor: default;
}

.noteviewer{
  position: fixed;
  top: 18.7vh;
  left: calc(19.1vw + 3vh);
  width: 79.5vw;
  height: 81.25vh;
  background-color: #D0F1BF;
  display: flex;
  justify-content: center;
}

.titlebox{
  width: 90%;
  height: 10%;
  margin-top: 2vw;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.75rem;
}